@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    @layer base {
        @font-face {
            font-family: 'Inter';
            font-weight: 100 900;
            font-display: swap;
            font-style: normal;
        }
        html {
            scroll-behavior: smooth;
        }
    }

    @layer components {
        .c-small {
            @apply max-w-screen-sm mx-auto px-4;
        }
        .c-large {
            @apply max-w-screen-xl mx-auto px-4;
        }
        .text-highlight {
            @apply text-gray-700
            dark:text-gray-50;
        }
    }

    .header{
        @apply top-0 py-10 opacity-90
    }

    .header-container{
        @apply max-w-3xl mx-auto
    }

    .header-title{
        @apply font-extralight text-2xl pl-4 pr-4 text-gray-700
        dark:text-white;
    }

    .header-items{
        @apply font-extralight text-gray-700 text-lg float-right
        dark:text-gray-300;
    }

    .header-item{
        @apply inline-grid grid-cols-3 gap-9
    }

    .page-title{
        @apply font-thin text-6xl text-gray-700 mb-10
        dark:text-white;
    }

    .footer{
        @apply text-center text-sm text-gray-700 mt-36 mb-10
        dark:text-gray-500;
    }
}
